html, body, div,svg {
    height: 100%;
    width : 100%;
    margin: 0;
    padding: 0;
}

path {
  fill: none;
  stroke: #666;
  stroke-width: 0.5px;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.selected {
  fill: yellow;
}

circle.link {
  fill: red;
}

path.link  {
  stroke:red;
  stroke-width:1.8px;
}

.notselected {
  opacity : 0.5;
}
